&nbsp;

<hr />
<p style="text-align: center;">Report by <a href="https://gitlab.com/vvneng/">Vivian Eng</a></p>
<p style="text-align: center;"><span style="color: #808080;"><em>vivian@eadietech.com</em></span></p>

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<p style="text-align: center;">
    <a href="https://ca.linkedin.com/in/vivianjleng" class="fa fa-linkedin"></a>
    <a href="https://gitlab.com/vvneng/" class="fa fa-gitlab"></a>
    <a href="https://scholar.google.com/citations?user=Gr4tASEAAAAJ&hl=en&oi=ao" class="fa fa-graduation-cap"></a>
</p>

&nbsp;